@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap");
*{margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
/* bagian navbar nya */

nav ul {
    list-style-type: none;
    overflow: hidden;
    height: 80px;
    padding: 0 2px 0 0;
    background-color: #3D679B;
    
    }
    
    /* navbar posisi textnya */
    nav li {
    float: right;
    margin: auto;
    padding: 23px 28px 20px 5px;
    }
    
    /* bagian logo ourpets */
    nav ul a{
    float: inherit;
    margin-left: 10px;
    }

    /* link navbar */
    nav li a {
    font-family: verdana;
    font-size: 14px;
    color:#ffffff;
    text-align: left;
    padding: 5px 5px 5px 5px;
    text-decoration: underline;
    
    }
    
    /* buat bayang-bayang pas dipencet */
    nav li a:hover {
    opacity:1;
    background-color: #d4dbe5;
    transition-duration: 0,2;
    }

    .pesan{
        font-size: large;
    }

    html,
    body {
    font-size: 16px;
    font-family: "Comic Neue", cursive;
    letter-spacing: 0.05em;
    }
    
    html {
        box-sizing: border-box;
    }
    
    *, *:before, *:after {
        box-sizing: inherit;
    }
    
    .column {
        margin-left: 33px;
        float: left;
        width: 30%;
        padding: 2px 2px 2px 2px;
    }
    
    .card {
        box-shadow: 0 4px 8px 0 rgba(37, 37, 90, 0.724);
        margin: 8px;
    }
    
    .about-section {
        /* margin-top: 35px; */
        margin-top: 25px;
        padding: 25px 50px 25px 50px;
        text-align: center;
        background-color: #3D679B;
        color: white;
    }

    .container {
        margin-top: 20px;
        padding: 20px 50px 20px 50px;
    }

    .button {
        margin-top: 20px;
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #3D679B;
        text-align: center;
        cursor: pointer;
        width: 100%;
        
    }
    
    .button:hover {
        background-color: #555;
    }



    footer {
        font-size: small;
        width: 100%;
        /* position: relative; */
        margin: auto;
        /* padding: 10px 0; */
        text-align: center;
        margin-bottom: 10px;
    }
    footer{
        bottom: 0;
    }
    .row {  
        display: flex;
        -ms-flex-wrap: wrap; 
        flex-wrap: wrap;
      } 
    
  