@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap");
*{margin: 0;
}
nav ul {
    list-style-type: none;
    overflow: hidden;
    height: 80px;
    padding: 0 2px 0 0;
    background-color: #3D679B;
    
    }
    
    /* navbar posisi textnya */
    nav li {
    float: right;
    margin: auto;
    padding: 23px 28px 20px 5px;
    }
    
    /* bagian logo ourpets */
    nav ul a{
    float: inherit;
    margin-left: 10px;
    }

    /* link navbar */
    nav li a {
    font-family: verdana;
    font-size: 14px;
    color:#ffffff;
    text-align: left;
    padding: 5px 5px 5px 5px;
    text-decoration: underline;
    
    }
    
    /* buat bayang-bayang pas dipencet */
    nav li a:hover {
    opacity:1;
    background-color: #d4dbe5;
    transition-duration: 0,2;
    }


    html,
    body {
    font-size: 16px;
    font-family: "Comic Neue", cursive;
    letter-spacing: 0.05em;
    }
/* bagian isi konten */
 h1{
    padding-top: 50px;
    /* margin: 0px 5px 0px 5px;
    clear: both; */
    color: rgb(23, 23, 23);
    text-align: center;
    }

  h2{
        font-size: 20px;
        width: 80%;
        color: rgb(28, 27, 27);
        text-align: center;
        margin:auto;
        padding-bottom: 25%;
        /* padding: 0px;  */
        }

    /* bagian credit */
    footer {
        font-size: small;
        width: 100%;
        /* position: relative; */
        margin-bottom: 10px;
        /* padding: 10px 0; */
        text-align: center;
    }
    footer{
        bottom: 0;
    }